html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-control {
  height: 25px;
  width: 300px;
}
.country__items {
  list-style-type: none;
  text-decoration: none;
  width: 100%;
  &__name {
    text-align: center;
  }
  &__card {
    display: flex;
    justify-content: space-between;
  }
  &__description__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
.cauntry__languages__item {
  list-style-type: none;
  text-decoration: none;
}
